@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
  color: peru;
}

p {
  line-height: 2;
}

ul {
  list-style: none;
}

li {
  line-height: 2;
}

h1,
h2,
h3 {
  font-weight: bolder;
  margin-bottom: 12px;
}

.App {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid whitesmoke;
  margin-bottom: 60px;
}

.nav ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav ul li {
  margin-left: 20px;
}

.nav ul li a {
  display: flex;
  align-items: center;
}

.nav ul li a:hover {
  color: gray;
}

.nav ul li a svg {
  margin-right: 5px;
}

.API{
  border: solid;
  padding: 7px;
  border-radius: 1vh;
  margin-left: 18px;
}

.API:hover{
  color: whitesmoke;
  background-color: peru;
}

.heading {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
}

.heading p {
  color: peru;
}

.workouts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.workout {
  background-color: whitesmoke;
  margin: 10px 0;
  padding: 20px 0 10px;
  border-radius: 5vh;
  position: relative;
}

.workout .close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  border: none;
  background: none;
}

.form,
.content {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.btn {
  padding: 10px 20px;
  border: 1px solid black;
  height: 8vh;
  border-radius: 5px;
  color: whitesmoke;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
    background-image: url("https://i.pinimg.com/736x/1b/d8/c2/1bd8c289f4b0fa3ed411c31c64769225.jpg");
  background-size: cover;
  background-position: center;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: white;
  color: black;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 80px;
  height: 80px;
  border: 9px solid;
  border-color: black transparent darkred transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}
